@use '../../styles/index.scss' as *;
.nav{
    grid-area:siderbar;
    @include position(absolute, $left:0, $right:0, $top:7rem);
    height:100vh;
    z-index:1;
    &:global(.box){
        @include border-radius(0);
        @media screen and (min-width:768px){
            @include border-radius(2rem);
        }
    }
    @media screen and (min-width:768px){
        margin-left:5rem;
        min-width:25.0rem;
        display:block;
        height:30rem;
        position:static;
    }
    @media screen and (min-width:996px){
        min-width:30rem;
    }
    li{
        display:flex;
        width:100%;
        @extend .mb-1;
        a{
            width:100%;
            color:$color-white;
            @extend .p-1;
            @include border-radius(2rem);
            &.active, &:hover{
                background-color:#373344;
            }
        }
    }
}